.cta-arrow-wrap {
  border-top: 1px solid var(--blue);
  padding-top: 2em;
  margin-top: 2em;
}

.cta-arrow {
    font-size: 1.3em;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    position: relative;
}
.cta-arrow img {
    margin-left: 10px;
    height: 13px;
    transition: .2s;
    right: 0;
    position: relative;
}

.cta-arrow:hover img {
  right: -5px;
}
